build/
build-static/
debug/
dist/
build.log
data/*
#thirdparty/include/*
#thirdparty/lib/*
#thirdparty/bin/*
#thirdparty/share/*
##thirdparty/src/*/*
#thirdparty/src/**
#thirdparty/CMake/
thirdparty/
env.bat
node_modules/
*~
.*.swp
